/* The CSS in this file will deal with the Early years page */

/*****************
CSS For Header
******************/

.headerArea {
  margin-top: 50px;
  margin-bottom: 30px;
}

/*****************
CSS For Main Area
******************/

/* first Section */
#firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.marioImage {
  height: 500px;
}

/* Second Section */
#secondSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

/*****************
Media Query Area
******************/

@media only all and (max-width: 1200px) {

  #firstSection {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #secondSection {
    margin-top: 50px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

}

@media only all and (max-width: 900px) {

  #firstSection {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .marioImage {
    height: 350px;
  }

}
