/* The CSS in this file will be for the footer page. */
.fa-linkedin-square, .fa-twitter-square, .fa-pencil, .fa-github-square {
  color: black;
  margin: 5px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00AFC9;
  height: 300px;
}
.footer_fix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 50px;
}
.footerTitle {
  font-size: 20px;
  text-transform: uppercase;
}
