/* The CSS in this file will be used throughout the project */

* {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.fontColor {
  color: #333;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #329AEF;
}
