/* The CSS in this page will be for the GTC page */

/*************************
CSS for Header Area
*************************/

#top {
  background-image: url("https://docs.google.com/uc?export=download&id=1EFf_YcT7TNpo9GzooZIISas13RL22yzk");
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
}

.introDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  color: white;
}

.paragraphDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  color: white;
}

/*************************
CSS for Courses Area
*************************/

#area_one {
  margin-top: 50px;
  margin-bottom: 50px;
}

.courses_area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.onlineWorkDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nonOnlineWorkDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change_link {
  color: #333;
  text-decoration: none;
}

.change_link:hover {
  color: #329AEF;
  text-decoration: none;
}

#pic_area_one {
  background-image: url("https://docs.google.com/uc?export=download&id=194gEC5eN5TtpXmHUsXciCKq-j16ZQQyT");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#pic_area_two {
  background-image: url("https://docs.google.com/uc?export=download&id=1yAD9bBJH67jvvEZmLllxzgF2HbwaZJwx");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*************************
CSS for Photoshop Area
*************************/

.photoshopArea {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.photoShopDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  justify-items: center;
}

.photoShopParagraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************************
Media Queries
*************************/
@media only all and (max-width: 900px) {

  #top {
    background-image: url('../../assets/images/road.jpg');
    /* background-image: url("https://docs.google.com/uc?export=download&id=1EFf_YcT7TNpo9GzooZIISas13RL22yzk"); */
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #pic_area_one {
    background-image: url('../../assets/images/bridge.jpg');
    /* background-image: url("https://docs.google.com/uc?export=download&id=194gEC5eN5TtpXmHUsXciCKq-j16ZQQyT"); */
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #pic_area_two {
    background-image: url('../../assets/images/mountain.jpg');
    /* background-image: url("https://docs.google.com/uc?export=download&id=1yAD9bBJH67jvvEZmLllxzgF2HbwaZJwx"); */
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-container {
    grid-template-columns: 1fr;
    min-height: 100%;
  }

  .paragraph {
    margin-left: 5%;
    margin-right: 5%;
  }

  .courses_area {
    grid-template-columns: 1fr;
  }

  .photoShopDiv {
    grid-template-columns: 1fr;
  }

}
