/* The CSS in this file will be used on the home page */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/roadHome.jpeg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stagesDiv {
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
}

.title {
  border-bottom: 2px solid white;
}
