.main-sprite {
    font-size: 10px;
}

.main-sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite-images/main-sprite.svg?time=1579868910000");
    background-repeat: no-repeat;
    background-size: auto;
}

.no-svg .main-sprite:before {
    background-image: url("../images/sprite-images/main-sprite.png?time=1579868910000");
}



  .main-sprite.affiliates-icon:before {
      background-position: -0.2em -0.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .main-sprite.amex-icon:before {
      background-position: -0.2em -7em;
      width: 6.49em;
      height: 4em;
  }




  .main-sprite.ar-icon:before {
      background-position: -0.2em -11.399999999999999em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.backups-icon:before {
      background-position: -0.2em -13em;
      width: 7em;
      height: 6.8em;
  }




  .main-sprite.bad-icon:before {
      background-position: -0.2em -20.2em;
      width: 6.2219999999999995em;
      height: 6.2219999999999995em;
  }




  .main-sprite.bg-icon:before {
      background-position: -0.2em -26.9em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.calendar-icon:before {
      background-position: -0.2em -28.5em;
      width: 13em;
      height: 11.4em;
  }




  .main-sprite.cash-icon:before {
      background-position: -0.2em -40.300000000000004em;
      width: 2.7em;
      height: 2.5em;
  }




  .main-sprite.checkout-icon:before {
      background-position: -0.2em -43.2em;
      width: 10.7em;
      height: 2.5em;
  }




  .main-sprite.clickbank-icon:before {
      background-position: -0.2em -46.1em;
      width: 11.4em;
      height: 2.5em;
  }




  .main-sprite.cns-icon:before {
      background-position: -0.2em -49em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.cnt-icon:before {
      background-position: -0.2em -50.6em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.complete-signup-icon:before {
      background-position: -0.2em -52.2em;
      width: 8.8em;
      height: 13.1em;
  }




  .main-sprite.credit-card-icon:before {
      background-position: -0.2em -65.7em;
      width: 2.7em;
      height: 2.5em;
  }




  .main-sprite.credit-debit-card-icon:before {
      background-position: -0.2em -68.60000000000001em;
      width: 2.7em;
      height: 2.5em;
  }




  .main-sprite.databases-icon:before {
      background-position: -0.2em -71.5em;
      width: 6.5em;
      height: 6.5em;
  }




  .main-sprite.de-icon:before {
      background-position: -0.2em -78.4em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.discover-icon:before {
      background-position: -0.2em -80em;
      width: 6.5em;
      height: 4em;
  }




  .main-sprite.domains-backorder-icon:before {
      background-position: -0.2em -84.4em;
      width: 5.9em;
      height: 6.4em;
  }




  .main-sprite.dropbox-icon:before {
      background-position: -0.2em -91.2em;
      width: 2em;
      height: 1.7em;
  }




  .main-sprite.en-icon:before {
      background-position: -0.2em -93.3em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.es-icon:before {
      background-position: -0.2em -94.9em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.exellent-icon:before {
      background-position: -0.2em -96.5em;
      width: 6.2219999999999995em;
      height: 6.555em;
  }




  .main-sprite.file-manager-icon:before {
      background-position: -0.2em -103.5em;
      width: 6.6em;
      height: 6.6em;
  }




  .main-sprite.file-upload-icon:before {
      background-position: -0.2em -110.5em;
      width: 6.8em;
      height: 6.8em;
  }




  .main-sprite.fr-icon:before {
      background-position: -0.2em -117.7em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.ftp-accounts-icon:before {
      background-position: -0.2em -119.3em;
      width: 6.8em;
      height: 6.8em;
  }




  .main-sprite.gdrive-icon:before {
      background-position: -0.2em -126.5em;
      width: 2em;
      height: 1.7em;
  }




  .main-sprite.gr-icon:before {
      background-position: -0.2em -128.6em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.horde-icon:before {
      background-position: -0.2em -130.2em;
      width: 11.8em;
      height: 4em;
  }




  .main-sprite.hosted-domains-icon:before {
      background-position: -0.2em -134.6em;
      width: 7em;
      height: 6.3em;
  }




  .main-sprite.it-icon:before {
      background-position: -0.2em -141.29999999999998em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.jp-icon:before {
      background-position: -0.2em -142.89999999999998em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.mails-icon:before {
      background-position: -0.2em -144.5em;
      width: 6.6em;
      height: 6.8em;
  }




  .main-sprite.mastercard-icon:before {
      background-position: -0.2em -151.7em;
      width: 6.5em;
      height: 4em;
  }




  .main-sprite.mysql-icon:before {
      background-position: -0.2em -156.1em;
      width: 6.4em;
      height: 6.2em;
  }




  .main-sprite.nl-icon:before {
      background-position: -0.2em -162.7em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.ok-icon:before {
      background-position: -0.2em -164.29999999999998em;
      width: 6.2219999999999995em;
      height: 6.2219999999999995em;
  }




  .main-sprite.paypal-colored-icon:before {
      background-position: -0.2em -171em;
      width: 6.5em;
      height: 4.0009999999999994em;
  }




  .main-sprite.paypal-icon:before {
      background-position: -0.2em -175.5em;
      width: 7.5em;
      height: 2.5em;
  }




  .main-sprite.php-sendmail-icon:before {
      background-position: -0.2em -178.39999999999998em;
      width: 6.6em;
      height: 6.6em;
  }




  .main-sprite.phpmyadmin-icon:before {
      background-position: -0.2em -185.39999999999998em;
      width: 6.5em;
      height: 3.5em;
  }




  .main-sprite.phppgadmin-icon:before {
      background-position: -0.2em -189.29999999999998em;
      width: 7.3em;
      height: 2.4em;
  }




  .main-sprite.postgresql-icon:before {
      background-position: -0.2em -192.1em;
      width: 6.9em;
      height: 6.7em;
  }




  .main-sprite.pt-icon:before {
      background-position: -0.2em -199.2em;
      width: 1.6em;
      height: 1.1em;
  }




  .main-sprite.registered-domains-icon:before {
      background-position: -0.2em -200.7em;
      width: 6.6em;
      height: 6.6em;
  }




  .main-sprite.remote-mysql-icon:before {
      background-position: -0.2em -207.7em;
      width: 8em;
      height: 3em;
  }




  .main-sprite.roundcube-icon:before {
      background-position: -0.2em -211.1em;
      width: 15.4em;
      height: 4em;
  }




  .main-sprite.ru-icon:before {
      background-position: -0.2em -215.5em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.sales-and-billing-icon:before {
      background-position: -0.2em -217.1em;
      width: 6.5em;
      height: 6.5em;
  }




  .main-sprite.scripting-icon:before {
      background-position: -0.2em -224em;
      width: 6.4em;
      height: 6.4em;
  }




  .main-sprite.service-upgrades-icon:before {
      background-position: -0.2em -230.79999999999998em;
      width: 6.8em;
      height: 6.8em;
  }




  .main-sprite.site-builder-icon:before {
      background-position: -0.2em -238em;
      width: 8em;
      height: 8em;
  }




  .main-sprite.skrill-colored-icon:before {
      background-position: -0.2em -246.39999999999998em;
      width: 6.5em;
      height: 4em;
  }




  .main-sprite.skrill-icon:before {
      background-position: -0.2em -250.79999999999998em;
      width: 7.3em;
      height: 2.5em;
  }




  .main-sprite.smtp-access-icon:before {
      background-position: -0.2em -253.7em;
      width: 6.5em;
      height: 6.8em;
  }




  .main-sprite.srp-icon:before {
      background-position: -0.2em -260.9em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.ssl-icon:before {
      background-position: -0.2em -262.5em;
      width: 5.85em;
      height: 6.618em;
  }




  .main-sprite.statistics-icon:before {
      background-position: -0.2em -269.59999999999997em;
      width: 6.5em;
      height: 6.5em;
  }




  .main-sprite.subdomains-icon:before {
      background-position: -0.2em -276.5em;
      width: 6.7em;
      height: 6.7em;
  }




  .main-sprite.supreme-icon:before {
      background-position: -0.2em -283.59999999999997em;
      width: 8.6em;
      height: 4em;
  }




  .main-sprite.thank-you-icon:before {
      background-position: -0.2em -288em;
      width: 24.36em;
      height: 22.546em;
  }




  .main-sprite.tools-and-settings-icon:before {
      background-position: -0.2em -311em;
      width: 6.5em;
      height: 6.5em;
  }




  .main-sprite.tr-icon:before {
      background-position: -0.2em -317.9em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.very-bad-icon:before {
      background-position: -0.2em -319.5em;
      width: 6.2219999999999995em;
      height: 6.2219999999999995em;
  }




  .main-sprite.very-good-icon:before {
      background-position: -0.2em -326.2em;
      width: 6.2219999999999995em;
      height: 6.2219999999999995em;
  }




  .main-sprite.visa-icon:before {
      background-position: -0.2em -332.9em;
      width: 6.51em;
      height: 3.9899999999999998em;
  }




  .main-sprite.vn-icon:before {
      background-position: -0.2em -337.3em;
      width: 1.7em;
      height: 1.2em;
  }




  .main-sprite.vpn-access-icon:before {
      background-position: -0.2em -338.9em;
      width: 5em;
      height: 6.8em;
  }




  .main-sprite.wallet-icon:before {
      background-position: -0.2em -346.09999999999997em;
      width: 2.7em;
      height: 2.5em;
  }




  .main-sprite.web-app-installer-icon:before {
      background-position: -0.2em -349em;
      width: 6.9em;
      height: 6.8em;
  }




  .main-sprite.webmail-icon:before {
      background-position: -0.2em -356.2em;
      width: 6.7em;
      height: 6.1em;
  }




  .main-sprite.website-speed-icon:before {
      background-position: -0.2em -362.7em;
      width: 12.8em;
      height: 11.277em;
  }




  .main-sprite.western-union-icon:before {
      background-position: -0.2em -374.4em;
      width: 9.4em;
      height: 2.5em;
  }




  .main-sprite.wire-transfer-icon:before {
      background-position: -0.2em -377.3em;
      width: 2.5em;
      height: 2.5em;
  }




  .main-sprite.worldpay-icon:before {
      background-position: -0.2em -380.2em;
      width: 6.9em;
      height: 2.5em;
  }




  .main-sprite.your-account-icon:before {
      background-position: -0.2em -383.09999999999997em;
      width: 6.5em;
      height: 6.5em;
  }





