.tlds-sprite {
    font-size: 10px;
}

.tlds-sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite-images/tlds-sprite.svg?time=1580808670000");
    background-repeat: no-repeat;
    background-size: auto;
}

.no-svg .tlds-sprite:before {
    background-image: url("../images/sprite-images/tlds-sprite.png?time=1580808670000");
}



  .tlds-sprite.ae:before {
      background-position: -0.2em -0.2em;
      width: 4.958em;
      height: 2em;
  }




  .tlds-sprite.biz:before {
      background-position: -0.2em -2.6em;
      width: 2.8299999999999996em;
      height: 2em;
  }




  .tlds-sprite.ca:before {
      background-position: -0.2em -5em;
      width: 4.3em;
      height: 2em;
  }




  .tlds-sprite.co:before {
      background-position: -0.2em -7.4em;
      width: 4.34em;
      height: 2em;
  }




  .tlds-sprite.co-uk:before {
      background-position: -0.2em -9.799999999999999em;
      width: 3.129em;
      height: 2em;
  }




  .tlds-sprite.co-za:before {
      background-position: -0.2em -12.2em;
      width: 8.917em;
      height: 2.0010000000000003em;
  }




  .tlds-sprite.com:before {
      background-position: -0.2em -14.7em;
      width: 7.633em;
      height: 2em;
  }




  .tlds-sprite.com-au:before {
      background-position: -0.2em -17.099999999999998em;
      width: 10.267em;
      height: 2em;
  }




  .tlds-sprite.company:before {
      background-position: -0.2em -19.5em;
      width: 10.675em;
      height: 2em;
  }




  .tlds-sprite.es:before {
      background-position: -0.2em -21.9em;
      width: 3.992em;
      height: 2em;
  }




  .tlds-sprite.eu:before {
      background-position: -0.2em -24.3em;
      width: 4.5329999999999995em;
      height: 2em;
  }




  .tlds-sprite.fun:before {
      background-position: -0.2em -26.7em;
      width: 3.747em;
      height: 2em;
  }




  .tlds-sprite.guru:before {
      background-position: -0.2em -29.099999999999998em;
      width: 7.321em;
      height: 1.984em;
  }




  .tlds-sprite.host:before {
      background-position: -0.2em -31.5em;
      width: 6em;
      height: 2em;
  }




  .tlds-sprite.ie:before {
      background-position: -0.2em -33.900000000000006em;
      width: 2.8899999999999997em;
      height: 1.9899999999999998em;
  }




  .tlds-sprite.info:before {
      background-position: -0.2em -36.300000000000004em;
      width: 4.16em;
      height: 2em;
  }




  .tlds-sprite.me:before {
      background-position: -0.2em -38.7em;
      width: 3.121em;
      height: 2em;
  }




  .tlds-sprite.net:before {
      background-position: -0.2em -41.1em;
      width: 4.706em;
      height: 2em;
  }




  .tlds-sprite.news:before {
      background-position: -0.2em -43.5em;
      width: 10.003em;
      height: 1.975em;
  }




  .tlds-sprite.ninja:before {
      background-position: -0.2em -45.900000000000006em;
      width: 6.529000000000001em;
      height: 2em;
  }




  .tlds-sprite.online:before {
      background-position: -0.2em -48.300000000000004em;
      width: 7.734999999999999em;
      height: 2em;
  }




  .tlds-sprite.org:before {
      background-position: -0.2em -50.7em;
      width: 5.514em;
      height: 2em;
  }




  .tlds-sprite.party:before {
      background-position: -0.2em -53.1em;
      width: 5.479em;
      height: 2em;
  }




  .tlds-sprite.press:before {
      background-position: -0.2em -55.5em;
      width: 5.048em;
      height: 2em;
  }




  .tlds-sprite.pro:before {
      background-position: -0.2em -57.900000000000006em;
      width: 4.583em;
      height: 2em;
  }




  .tlds-sprite.qa:before {
      background-position: -0.2em -60.300000000000004em;
      width: 3.9829999999999997em;
      height: 2em;
  }




  .tlds-sprite.ru:before {
      background-position: -0.2em -62.7em;
      width: 1.9170000000000003em;
      height: 2em;
  }




  .tlds-sprite.run:before {
      background-position: -0.2em -65.10000000000001em;
      width: 5.296em;
      height: 2.004em;
  }




  .tlds-sprite.services:before {
      background-position: -0.2em -67.60000000000001em;
      width: 10.267em;
      height: 2em;
  }




  .tlds-sprite.site:before {
      background-position: -0.2em -70em;
      width: 5.242em;
      height: 2em;
  }




  .tlds-sprite.solutions:before {
      background-position: -0.2em -72.4em;
      width: 10.267em;
      height: 2em;
  }




  .tlds-sprite.space:before {
      background-position: -0.2em -74.8em;
      width: 7.15em;
      height: 2em;
  }




  .tlds-sprite.store:before {
      background-position: -0.2em -77.2em;
      width: 6.742em;
      height: 2em;
  }




  .tlds-sprite.tech:before {
      background-position: -0.2em -79.60000000000001em;
      width: 5.4079999999999995em;
      height: 2em;
  }




  .tlds-sprite.top:before {
      background-position: -0.2em -82em;
      width: 3.915em;
      height: 2em;
  }




  .tlds-sprite.tv:before {
      background-position: -0.2em -84.4em;
      width: 3.915em;
      height: 2em;
  }




  .tlds-sprite.uk:before {
      background-position: -0.2em -86.8em;
      width: 1.9809999999999999em;
      height: 2em;
  }




  .tlds-sprite.us:before {
      background-position: -0.2em -89.2em;
      width: 3.283em;
      height: 2em;
  }




  .tlds-sprite.we-bs:before {
      background-position: -0.2em -91.60000000000001em;
      width: 8.654em;
      height: 2em;
  }




  .tlds-sprite.website:before {
      background-position: -0.2em -94em;
      width: 8.654em;
      height: 2em;
  }




  .tlds-sprite.xyz:before {
      background-position: -0.2em -96.4em;
      width: 3.2em;
      height: 2em;
  }





